[submodule "ubuntu2004-noetic/catkin_ws/src"]
	path = ubuntu2004-noetic/catkin_ws/src
	url = git@github.com:171930433/visualization_tutorials.git
[submodule "ubuntu2004-noetic/catkin_ws/src/ros_tutorials"]
	path = ubuntu2004-noetic/catkin_ws/src/ros_tutorials
	url = git@github.com:171930433/ros_tutorials.git
[submodule "ubuntu2004-noetic/catkin_ws/src/visualization_tutorials"]
	path = ubuntu2004-noetic/catkin_ws/src/visualization_tutorials
	url = git@github.com:171930433/visualization_tutorials.git
